body
{
    background-color:#B2BEB5;
}

.flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.margin
{
    margin-top:20px;
    margin-bottom:20px;
}